body {
  font-family: 'Pontano Sans',
    sans-serif !important;
}

p {
  font-size: 18px;
}

/* transitions */
.page-enter-active,
.page-leave-active {
  transition: opacity .5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
